Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

docs:
  name: docs
  language: system
  entry: make docs

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false

ci: update pomerium dependencies
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#113)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#114)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#116)
  go.mod
  go.sum
Due: go-mod-tidy

add external_data_source
  docs/data-sources/external_data_source.md
  docs/resources/external_data_source.md
  go.mod
  go.sum
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_model.go
  internal/provider/external_data_source_resource.go
  internal/provider/provider.go
Due: docs, go-mod-tidy, lint

track client
  go.mod
  go.sum
Due: go-mod-tidy

bump core
  go.mod
  go.sum
Due: go-mod-tidy

add external_data_source (#118)
  docs/data-sources/external_data_source.md
  docs/resources/external_data_source.md
  go.mod
  go.sum
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_model.go
  internal/provider/external_data_source_resource.go
  internal/provider/provider.go
Due: docs, go-mod-tidy, lint

backport #118 (#119)
  docs/data-sources/external_data_source.md
  docs/resources/external_data_source.md
  go.mod
  go.sum
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_model.go
  internal/provider/external_data_source_resource.go
  internal/provider/provider.go
Due: docs, go-mod-tidy, lint

ci: update pomerium dependencies (#117)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#120)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#124)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#125)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#127)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#128)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#129)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#130)
  go.mod
  go.sum
Due: go-mod-tidy

chore: bump go to 1.25/ golangci-lint to 2.7.2
  .github/workflows/dependabot.yaml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yaml
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci/dev: migrate golangci-lint config to v2
  .golangci.yml
  Makefile
  internal/tools/get-tools.go
Due: docs, lint

chore: upgrade to go 1.25 (#131)
  .github/workflows/dependabot.yaml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yaml
  .golangci.yml
  .tool-versions
  Makefile
  go.mod
  go.sum
  internal/tools/get-tools.go
Due: docs, go-mod-tidy, lint

ci: update pomerium dependencies (#132)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#133)
  go.mod
  go.sum
Due: go-mod-tidy

update
  .github/workflows/update-dependencies.yaml
  .tool-versions
  scripts/update-dependencies
Due: none

ci: update pomerium dependencies (#134)
  .github/workflows/update-dependencies.yaml
  .tool-versions
  go.mod
  go.sum
  scripts/update-dependencies
Due: go-mod-tidy

Path conditions:
  docs: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum$
  lint: any of: \.go$
