Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs
        name: docs
        language: system
        entry: make docs
        types: ["go"]
      - id: go-mod-tidy
        name: go-mod-tidy
        language: system
        entry: bash -c 'go mod tidy'
        files: go\.mod|go\.sum$
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false

add healthy_panic_threshold route config (#67)
  .golangci.yml
  README.md
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  go.mod
  go.sum
  internal/provider/convert_test.go
  internal/provider/jwt_group_filter_test.go
  internal/provider/policy_model_test.go
  internal/provider/policy_types_test.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/settings_model_test.go
Due: docs, go-mod-tidy, lint

[0.30.X] Backport add healthy panic threshold configuration to routes (#68)
  .golangci.yml
  README.md
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  go.mod
  go.sum
  internal/provider/convert_test.go
  internal/provider/jwt_group_filter_test.go
  internal/provider/policy_model_test.go
  internal/provider/policy_types_test.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/settings_model_test.go
Due: docs, go-mod-tidy, lint

add dns options
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

update to main
  go.mod
  go.sum
Due: go-mod-tidy

add dns options (#69)
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

backport #69
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

backport #69 (#70)
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

fix name
  internal/provider/settings_model.go
Due: docs, lint

add dns options (#71)
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

go mod tidy
  go.mod
  go.sum
Due: go-mod-tidy

add dns options (#72)
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

add update core worfklow
  .github/workflows/update-core.yaml
Due: none

add ci job to upgrade core (#73)
  .github/workflows/update-core.yaml
Due: none

ci: update core to latest commit in main
  go.mod
  go.sum
Due: go-mod-tidy

ci: update core to latest commit in main (#74)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update core to latest commit in main (#75)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update core to latest commit in main (#76)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update core to latest commit in main (#77)
  go.mod
  go.sum
Due: go-mod-tidy

update
  .github/workflows/update-core.yaml
  go.mod
  go.sum
Due: go-mod-tidy

ci: update core to latest commit in main (#78)
  .github/workflows/update-core.yaml
  go.mod
  go.sum
Due: go-mod-tidy

ci: update core to latest commit in main (#79)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update core to latest commit in main (#80)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update core to latest commit in main (#81)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update core to latest commit in main (#82)
  go.mod
  go.sum
Due: go-mod-tidy

remove authenticate callback path
  docs/resources/settings.md
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, lint

ci: update core to latest commit in main (#83)
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint
