Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs
        name: docs
        language: system
        entry: make docs
        types: ["go"]
      - id: go-mod-tidy
        name: go-mod-tidy
        language: system
        entry: bash -c 'go mod tidy'
        files: go\.mod|go\.sum$
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#156)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

wip
  go.mod
  go.sum
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/converters.go
  internal/provider/converters_core_to_model.go
  internal/provider/service_account_data_source.go
  internal/provider/service_accounts_data_source.go
Due: docs, go-mod-tidy, lint

add route data source
  internal/provider/route_data_source.go
Due: docs, lint

wip
  internal/provider/client.go
  internal/provider/converters.go
  internal/provider/converters_core_to_model.go
  internal/provider/converters_model_to_core.go
  internal/provider/external_data_source_data_source.go
  internal/provider/helpers.go
  internal/provider/namespace.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_permission.go
  internal/provider/namespaces_data_source.go
  internal/provider/policies_data_source.go
  internal/provider/routes_data_source.go
Due: docs, lint

terraform: client cleanup
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource.go
  internal/provider/helpers.go
  internal/provider/helpers_test.go
  internal/provider/key_pair_model.go
  internal/provider/key_pair_model_test.go
  internal/provider/key_pair_resource.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_permission.go
  internal/provider/namespace_resource.go
  internal/provider/namespaces_data_source.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/provider.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_accounts_data_source.go
  internal/provider/settings_resource.go
Due: docs, lint

wip
  internal/provider/client.go
  internal/provider/cluster_resource.go
  internal/provider/converters_console_to_model.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource.go
  internal/provider/key_pair_resource.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_permission.go
  internal/provider/namespace_resource.go
  internal/provider/policy_resource.go
  internal/provider/route_resource.go
  internal/provider/service_account_resource.go
  internal/provider/settings_resource.go
Due: docs, lint

wip
  internal/provider/converters_core_to_model.go
  internal/provider/converters_model_to_core.go
  internal/provider/key_pair_resource.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/resources.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_accounts_data_source.go
  internal/provider/settings_resource.go
Due: docs, lint

terraform: update client with type scaffolding
  go.mod
  go.sum
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource.go
  internal/provider/key_pair_resource.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_permission.go
  internal/provider/namespace_resource.go
  internal/provider/namespaces_data_source.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_accounts_data_source.go
  internal/provider/settings_resource.go
Due: docs, go-mod-tidy, lint

add converters, update policy model
  internal/provider/converters.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/converters_test.go
  internal/provider/models.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_model.go
  internal/provider/policy_model_test.go
  internal/provider/policy_resource.go
Due: docs, lint

add key pairs
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/key_pair_model.go
  internal/provider/key_pair_model_test.go
  internal/provider/key_pair_resource.go
  internal/provider/models.go
Due: docs, lint

service accounts
  internal/provider/converters.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/models.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_accounts_data_source.go
Due: docs, lint

namespaces
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/models.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_resource.go
Due: docs, lint

clusters
  internal/provider/cluster_data_source.go
  internal/provider/cluster_model.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/models.go
Due: docs, lint

namespace permissions
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/models.go
  internal/provider/namespace_permission.go
  internal/provider/namespace_permission_model.go
  internal/provider/namespace_permission_model_test.go
  internal/provider/policy_model.go
Due: docs, lint

circuit breaker thresholds
  internal/provider/circuit_breaker_thresholds.go
  internal/provider/circuit_breaker_thresholds_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/jwt_group_filter_test.go
  internal/provider/pointer_test.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_resource.go
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, lint

external data sources
  internal/provider/converters.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_model.go
  internal/provider/external_data_source_resource.go
  internal/provider/jwt_group_filter.go
  internal/provider/jwt_group_filter_test.go
  internal/provider/models.go
Due: docs, lint

jwt groups filter
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/jwt_group_filter.go
  internal/provider/jwt_group_filter_test.go
  internal/provider/route_model.go
  internal/provider/settings_model.go
Due: docs, lint

route
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
Due: docs, lint

health checks
  internal/provider/converters.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/enum_optional.go
  internal/provider/enum_optional_test.go
  internal/provider/route_model.go
Due: docs, lint

settings
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/models.go
  internal/provider/route_model.go
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_resource.go
Due: docs, lint

wip
  internal/provider/converters.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
  internal/provider/idp_model.go
Due: docs, lint

wip
  internal/provider/converters.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/idp_model.go
Due: docs, lint

wip
  internal/provider/converters.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/converters_test.go
Due: docs, lint

wip
  internal/provider/circuit_breaker_thresholds.go
  internal/provider/converters.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/converters_test.go
  internal/provider/jwt_group_filter.go
  internal/provider/jwt_group_filter_test.go
  internal/provider/models_idp.go
  internal/provider/models_objects.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/schemas.go
Due: docs, lint

terraform: update client with type scaffolding (#159)
  go.mod
  go.sum
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource.go
  internal/provider/helpers.go
  internal/provider/helpers_test.go
  internal/provider/key_chain.go
  internal/provider/key_pair_model.go
  internal/provider/key_pair_model_test.go
  internal/provider/key_pair_resource.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_permission.go
  internal/provider/namespace_resource.go
  internal/provider/namespaces_data_source.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/provider.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_accounts_data_source.go
  internal/provider/settings_resource.go
Due: docs, go-mod-tidy, lint

fix issues
  internal/provider/converters.go
  internal/provider/converters_model_to_enterprise.go
Due: docs, lint

ci: update dependencies (#157)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#161)
  go.mod
  go.sum
Due: go-mod-tidy

fix timestamp issue
  internal/provider/converters.go
  internal/provider/converters_test.go
Due: docs, lint

add round trip test
  internal/provider/converters_test.go
Due: docs, lint

handle unknown health check object
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
Due: docs, lint

handle invalid bearer token formats
  internal/provider/converters.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
Due: docs, lint

codec type
  internal/provider/converters.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
Due: docs, lint

fix codec client type
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
Due: docs, lint

generate enum conversion code
  Makefile
  internal/generate/enums.go
  internal/generate/generate.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/converters_model_to_enterprise.go
Due: docs, lint

generate enums
  internal/generate/enums.go
  internal/provider/converters.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
Due: docs, lint
