Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

docs:
  name: docs
  language: system
  entry: make docs

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false

add idp token options
  go.mod
  go.sum
  internal/provider/convert.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_test.go
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

add test
  internal/provider/route_test.go
Due: docs, lint

add tests
  internal/provider/convert_test.go
Due: docs, lint

Update internal/provider/route_model.go
  internal/provider/route_model.go
Due: docs, lint

use sets
  internal/provider/convert.go
  internal/provider/convert_test.go
  internal/provider/route_model.go
  internal/provider/route_test.go
  internal/provider/settings_model.go
Due: docs, lint

add idp token options (#40)
  go.mod
  go.sum
  internal/provider/convert.go
  internal/provider/convert_test.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_test.go
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

fix idp_access_token_allowed_audiences type
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  example/main.tf
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/settings_schema.go
Due: docs, lint

fix idp_access_token_allowed_audiences type (#41)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  example/main.tf
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/settings_schema.go
Due: docs, lint

fix crash on namespace permission error
  internal/provider/namespace_permission.go
Due: docs, lint

settings: add otel tracing parameters
  docs/resources/settings.md
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, lint

fix crash on namespace permission error (#42)
  internal/provider/namespace_permission.go
Due: docs, lint

add provider config validity checks
  internal/provider/bootstrap_service_account.go
  internal/provider/bootstrap_service_account_test.go
  internal/provider/provider.go
Due: docs, lint

add provider config validity checks (#44)
  internal/provider/bootstrap_service_account.go
  internal/provider/bootstrap_service_account_test.go
  internal/provider/provider.go
Due: docs, lint

add originator id
  internal/provider/key_chain.go
  internal/provider/key_chain_model.go
  internal/provider/key_chain_model_test.go
  internal/provider/models.go
  internal/provider/policy_model.go
  internal/provider/policy_model_test.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/route_test.go
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
Due: docs, lint

add originator id (#45)
  internal/provider/key_chain.go
  internal/provider/key_chain_model.go
  internal/provider/key_chain_model_test.go
  internal/provider/models.go
  internal/provider/policy_model.go
  internal/provider/policy_model_test.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/route_test.go
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
Due: docs, lint

settings: add otel tracing parameters (#43)
  docs/resources/settings.md
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, lint

add optional enum support, add route load balancing policy
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  example/main.tf
  go.mod
  go.sum
  internal/provider/enum_optional.go
  internal/provider/enum_optional_test.go
  internal/provider/key_chain_model.go
  internal/provider/models.go
  internal/provider/policy_model.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/route_test.go
  internal/provider/settings_model.go
Due: docs, go-mod-tidy, lint

fix docs
  docs/resources/route.md
  internal/provider/enum_optional.go
  internal/provider/route.go
Due: docs, lint

optional enums, route.load_balancing_policy (#47)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  example/main.tf
  go.mod
  go.sum
  internal/provider/enum_optional.go
  internal/provider/enum_optional_test.go
  internal/provider/key_chain_model.go
  internal/provider/models.go
  internal/provider/policy_model.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/route_test.go
  internal/provider/settings_model.go
Due: docs, go-mod-tidy, lint

add namespace permission originator id
  go.mod
  go.sum
  internal/provider/namespace_permission_model.go
  internal/provider/namespace_permission_model_test.go
Due: docs, go-mod-tidy, lint

route: add health check support
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  example/main.tf
  internal/provider/convert.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
Due: docs, lint

route: add health check support (#49)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  example/main.tf
  internal/provider/convert.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
Due: docs, lint

add namespace permission originator id (#48)
  go.mod
  go.sum
  internal/provider/namespace_permission_model.go
  internal/provider/namespace_permission_model_test.go
Due: docs, go-mod-tidy, lint

convert: handle unknown values
  internal/provider/convert.go
  internal/provider/convert_test.go
Due: docs, lint

convert: handle unknown values (#50)
  internal/provider/convert.go
  internal/provider/convert_test.go
Due: docs, lint

add cluster resource
  go.mod
  go.sum
  internal/provider/cluster_model.go
  internal/provider/cluster_resource.go
  internal/provider/provider.go
Due: docs, go-mod-tidy, lint

update pomerium/pomerium dependency
  go.mod
  go.sum
Due: go-mod-tidy

add conversion logic
  internal/provider/convert.go
  internal/provider/convert_test.go
  internal/provider/settings_model.go
Due: docs, lint

update API dependency, fix up tests
  go.mod
  go.sum
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/settings_model_test.go
Due: docs, go-mod-tidy, lint

incorporate review feedback
  internal/provider/convert.go
  internal/provider/convert_test.go
  internal/provider/route_model.go
  internal/provider/settings_model.go
Due: docs, lint

settings: fix otel settings
  example/main.tf
  go.mod
  go.sum
  internal/provider/convert.go
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

pb to tf
  internal/provider/convert.go
  internal/provider/settings_model.go
Due: docs, lint

settings: fix otel params (#53)
  example/main.tf
  go.mod
  go.sum
  internal/provider/convert.go
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

keep the existing enum value names for now
  internal/provider/convert.go
  internal/provider/convert_test.go
  internal/provider/route_model_test.go
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
Due: docs, lint

add global option to settings schema
  internal/provider/route.go
  internal/provider/settings_schema.go
Due: docs, lint

lint + update docs
  docs/resources/settings.md
  internal/provider/convert.go
Due: docs, lint

add global jwt_issuer_format option (#52)
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/convert.go
  internal/provider/convert_test.go
  internal/provider/route.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

set originator_id for service accounts
  go.mod
  go.sum
  internal/provider/models.go
Due: docs, go-mod-tidy, lint

pin enterprise-client-go
  go.mod
  go.sum
Due: go-mod-tidy

set originator_id for service accounts (#54)
  go.mod
  go.sum
  internal/provider/models.go
Due: docs, go-mod-tidy, lint

Path conditions:
  docs: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum$
  lint: any of: \.go$
