Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

docs:
  name: docs
  language: system
  entry: make docs

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false

cluster support
  docs/resources/cluster.md
  go.mod
  go.sum
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/cluster_resource_test.go
  internal/provider/clusters_data_source.go
  internal/provider/converters_core_to_model.go
  internal/provider/converters_model_to_core.go
  internal/provider/databroker.go
  internal/provider/models.go
Due: docs, go-mod-tidy, lint

namespace support
  internal/provider/converters_core_to_model.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_resource.go
  internal/provider/namespace_resource_test.go
  internal/provider/namespaces_data_source.go
Due: docs, lint

external data sources
  internal/provider/converters_core_to_model.go
  internal/provider/converters_model_to_core.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource.go
  internal/provider/external_data_source_resource_test.go
Due: docs, lint

namespace permissions
  internal/provider/converters_core_to_model.go
  internal/provider/converters_model_to_core.go
  internal/provider/namespace_permission_resource.go
  internal/provider/namespace_permission_resource_test.go
Due: docs, lint

fix typos
  internal/provider/cluster_resource_test.go
  internal/provider/external_data_source_resource.go
  internal/provider/namespace_permission_resource.go
Due: docs, lint

ci: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#171)
  go.mod
  go.sum
Due: go-mod-tidy

fix wrong record type
  internal/provider/external_data_source_data_source.go
Due: docs, lint

wip
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/clusters_data_source.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_zero_to_model.go
  internal/provider/key_pair_resource.go
Due: docs, lint

datasources
  internal/provider/converters_zero_to_model.go
  internal/provider/namespace_data_source.go
  internal/provider/namespaces_data_source.go
Due: docs, lint

add support for zero clusters
  .golangci.yml
  docs/data-sources/cluster.md
  docs/data-sources/clusters.md
  docs/resources/cluster.md
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/converters_core_to_model.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_zero.go
  internal/provider/converters_zero_to_model.go
  internal/provider/key_pair_resource.go
  internal/provider/models.go
Due: docs, lint

lint
  .golangci.yml
Due: none

update sdk
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#172)
  go.mod
  go.sum
Due: go-mod-tidy

add errors on wrong types, add tests
  internal/provider/converters_core_to_model.go
  internal/provider/converters_core_to_model_test.go
Due: docs, lint

add tests
  internal/provider/converters_model_to_core_test.go
Due: docs, lint

fix: misc converter hardening
  internal/provider/converters.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_test.go
  internal/provider/settings_resource.go
Due: docs, lint

fix: misc converter hardening (#173)
  internal/provider/converters.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_test.go
  internal/provider/settings_resource.go
Due: docs, lint

handle nil
  internal/provider/converters_core_to_model.go
  internal/provider/external_data_source_resource_test.go
  internal/provider/key_pair_resource_test.go
  internal/provider/namespace_permission_resource_test.go
  internal/provider/namespace_resource_test.go
  internal/provider/policy_resource_test.go
  internal/provider/route_resource_test.go
  internal/provider/settings_resource_test.go
Due: docs, lint

better errors, add tests
  internal/provider/clusters_data_source.go
  internal/provider/converters_model_to_zero_test.go
  internal/provider/namespace_data_source.go
  internal/provider/namespaces_data_source.go
Due: docs, lint

add tests
  internal/provider/converters_zero_to_model_test.go
Due: docs, lint

fix test
  internal/provider/converters_model_to_api_test.go
Due: docs, lint

fix error
  internal/provider/client.go
Due: docs, lint

ci: update dependencies (#175)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#176)
  go.mod
  go.sum
Due: go-mod-tidy

use namespace id
  internal/provider/client.go
Due: docs, lint

better error message
  internal/provider/client.go
Due: docs, lint

allow 404 on delete
  internal/provider/cluster_resource.go
Due: docs, lint

terraform: add support for zero (#174)
  .golangci.yml
  docs/data-sources/cluster.md
  docs/data-sources/clusters.md
  docs/resources/cluster.md
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/converters_core_to_model.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_zero.go
  internal/provider/converters_model_to_zero_test.go
  internal/provider/converters_zero_to_model.go
  internal/provider/converters_zero_to_model_test.go
  internal/provider/models.go
  internal/provider/namespace_data_source.go
  internal/provider/namespaces_data_source.go
  internal/provider/provider.go
Due: docs, lint

update settings fields
  docs/resources/settings.md
  internal/provider/converters_model_to_api.go
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, lint

update unsupported properties
  docs/resources/settings.md
  internal/provider/settings_schema.go
Due: docs, lint

ci: update dependencies (#177)
  go.mod
  go.sum
Due: go-mod-tidy

update note
  docs/resources/settings.md
  internal/provider/settings_schema.go
Due: docs, lint

terraform/settings: update unsupported settings (#180)
  docs/resources/settings.md
  internal/provider/converters_model_to_api.go
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, lint

Path conditions:
  docs: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum$
  lint: any of: \.go$
