Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

docs:
  name: docs
  language: system
  entry: make docs

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false

use dependabot
  .github/dependabot.yaml
  .github/workflows/update-core.yaml
  .github/workflows/update.yaml
  Makefile
Due: none

set core to v0.31.0
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

set core to v0.31.0 (#86)
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

ci: update core to latest commit in main
  go.mod
  go.sum
Due: go-mod-tidy

ci: add dependabot (#85)
  .github/dependabot.yaml
  .github/workflows/update-core.yaml
  .github/workflows/update.yaml
  Makefile
Due: none

fix dependabot config
  .github/dependabot.yaml
Due: none

ci: update core to latest commit in main (#84)
  .github/dependabot.yaml
  go.mod
  go.sum
Due: go-mod-tidy

switch to older golangci-lint
  .github/workflows/test.yml
Due: none

separate dependabot job
  .github/workflows/dependabot.yaml
  .github/workflows/update.yaml
Due: none

use default branch
  .github/workflows/update.yaml
Due: none

ci: update pomerium dependencies
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#95)
  go.mod
  go.sum
Due: go-mod-tidy

update
  .github/dependabot.yaml
  .github/workflows/build.yml
  .github/workflows/dependabot.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/test.yml
  .github/workflows/update-pomerium.yaml
  Makefile
Due: none

update id
  .github/workflows/dependabot.yaml
Due: none

fix
  .github/workflows/update-pomerium.yaml
Due: none

ci: update pomerium dependencies (#99)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#100)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#101)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#102)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#103)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#104)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#105)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#108)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#109)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#110)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#111)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update pomerium dependencies (#112)
  go.mod
  go.sum
Due: go-mod-tidy

Path conditions:
  docs: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum$
  lint: any of: \.go$
