Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

docs:
  name: docs
  language: system
  entry: make docs

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false

set client to v0.29.0
  go.mod
  go.sum
Due: go-mod-tidy

upgrade go to v1.24
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .golangci.yml
  Makefile
  go.mod
  go.sum
Due: go-mod-tidy

fix config
  .golangci.yml
Due: none

move lint back to test to placate github
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
Due: none

add name
  .github/workflows/test.yml
Due: none

upgrade go to v1.24 (#55)
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .golangci.yml
  go.mod
  go.sum
Due: go-mod-tidy

add cluster data model
  go.mod
  go.sum
  internal/provider/cluster_data_source.go
  internal/provider/cluster_model.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/provider.go
Due: docs, go-mod-tidy, lint

add cluster namespace id
  internal/provider/cluster_data_source.go
  internal/provider/cluster_model.go
  internal/provider/cluster_resource.go
Due: docs, lint

additional cluster properties
  internal/provider/models.go
  internal/provider/namespace.go
  internal/provider/namespace_data_source.go
  internal/provider/policies_data_source.go
  internal/provider/routes_data_source.go
  internal/provider/settings_model.go
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, lint

upgrade enterprise-client-go
  go.mod
  go.sum
Due: go-mod-tidy

update core and enterprise-client-go
  go.mod
  go.sum
Due: go-mod-tidy

add depends_on_hosts attribute
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
Due: docs, lint

enterprise cluster support (#56)
  go.mod
  go.sum
  internal/provider/cluster_data_source.go
  internal/provider/cluster_model.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/models.go
  internal/provider/namespace.go
  internal/provider/namespace_data_source.go
  internal/provider/policies_data_source.go
  internal/provider/provider.go
  internal/provider/routes_data_source.go
  internal/provider/settings_model.go
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

add support for the route depends_on option (#58)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  go.mod
  go.sum
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
Due: docs, go-mod-tidy, lint

add originator id for clusters
  go.mod
  go.sum
  internal/provider/cluster_model.go
  internal/provider/models.go
  internal/provider/namespace.go
Due: docs, go-mod-tidy, lint

fix missing cluster id on all namespaces
  internal/provider/namespaces_data_source.go
Due: docs, lint

fix missing cluster id on all namespaces (#59)
  internal/provider/namespaces_data_source.go
Due: docs, lint

use main
  go.mod
  go.sum
Due: go-mod-tidy

go mod tidy
  go.sum
Due: go-mod-tidy

add originator id for clusters (#60)
  go.mod
  go.sum
  internal/provider/cluster_model.go
  internal/provider/models.go
  internal/provider/namespace.go
Due: docs, go-mod-tidy, lint

add codec type
  go.mod
  go.sum
  internal/provider/convert.go
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

add codec type (#61)
  go.mod
  go.sum
  internal/provider/convert.go
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

add support for blob directory sync
  docs/data-sources/cluster.md
  docs/data-sources/clusters.md
  docs/data-sources/namespace.md
  docs/data-sources/namespaces.md
  docs/data-sources/policies.md
  docs/data-sources/routes.md
  docs/resources/cluster.md
  docs/resources/namespace.md
  docs/resources/settings.md
  internal/provider/idp_model.go
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, lint

add description
  docs/resources/settings.md
  internal/provider/settings_schema.go
Due: docs, lint

add support for blob directory sync (#63)
  docs/data-sources/cluster.md
  docs/data-sources/clusters.md
  docs/data-sources/namespace.md
  docs/data-sources/namespaces.md
  docs/data-sources/policies.md
  docs/data-sources/routes.md
  docs/resources/cluster.md
  docs/resources/namespace.md
  docs/resources/settings.md
  internal/provider/idp_model.go
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, lint

add circuit breaker thresholds
  go.mod
  go.sum
  internal/provider/circuit_breaker_thresholds.go
  internal/provider/circuit_breaker_thresholds_test.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

run 'make docs'
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
Due: none

update enterprise-client-go
  go.mod
  go.sum
Due: go-mod-tidy

add circuit breaker thresholds (#64)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/circuit_breaker_thresholds.go
  internal/provider/circuit_breaker_thresholds_test.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/settings_model.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

add ssh settings
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

add ssh settings (#65)
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/settings_model.go
  internal/provider/settings_model_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

update enterprise-client-go to v0.30.0
  docs/index.md
  go.mod
  go.sum
Due: go-mod-tidy

update enterprise-client-go to v0.30.0 (#66)
  docs/index.md
  go.mod
  go.sum
Due: go-mod-tidy

chore: update deps to main
  go.mod
  go.sum
Due: go-mod-tidy

feat: add healthy_panic_threshold conversion for datasource <-> pb
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
Due: docs, lint

docs: make docs
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/index.md
  docs/resources/route.md
Due: none

chore: temporarily rework exclude-rules
  .golangci.yml
Due: none

fix: test lint issues
  internal/provider/convert_test.go
  internal/provider/jwt_group_filter_test.go
  internal/provider/policy_model_test.go
  internal/provider/policy_types_test.go
  internal/provider/route_model_test.go
  internal/provider/settings_model_test.go
Due: docs, lint

fix(README) : link to example directory
  README.md
Due: none

add healthy_panic_threshold route config (#67)
  .golangci.yml
  README.md
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/index.md
  docs/resources/route.md
  go.mod
  go.sum
  internal/provider/convert_test.go
  internal/provider/jwt_group_filter_test.go
  internal/provider/policy_model_test.go
  internal/provider/policy_types_test.go
  internal/provider/route.go
  internal/provider/route_data_source.go
  internal/provider/route_model.go
  internal/provider/route_model_test.go
  internal/provider/settings_model_test.go
Due: docs, go-mod-tidy, lint

Path conditions:
  docs: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum$
  lint: any of: \.go$
