Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs
        name: docs
        language: system
        entry: make docs
        types: ["go"]
      - id: go-mod-tidy
        name: go-mod-tidy
        language: system
        entry: bash -c 'go mod tidy'
        files: go\.mod|go\.sum$
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false

chore: upgrade to go 1.27
  .golangci.yml
  .tool-versions
  internal/provider/databroker.go
  scripts/update-dependencies
Due: docs, lint

chore: upgrade to go 1.27 (#287)
  .golangci.yml
  .tool-versions
  internal/provider/databroker.go
  scripts/update-dependencies
Due: docs, lint

ci: update dependencies
  .tool-versions
Due: none

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update main dependencies (#286)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

fmt
  internal/provider/bootstrap_service_account.go
  internal/provider/converters.go
Due: docs, lint

ci: update 0-33-0 dependencies (#284)
  .tool-versions
  internal/provider/bootstrap_service_account.go
  internal/provider/converters.go
Due: docs, lint

ci: update main dependencies (#291)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies
  go.mod
  go.sum
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/enums.gen.go
Due: docs, go-mod-tidy, lint

ci: update main dependencies (#292)
  go.mod
  go.sum
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/enums.gen.go
Due: docs, go-mod-tidy, lint

ci: update 0-33-0 dependencies (#290)
  .tool-versions
Due: none

ci: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

fix lint: set new proto fields SshTwoPersonApprovalRequestTimeout and IfMatchVersion
  internal/provider/converters_model_to_api.go
  internal/provider/databroker.go
Due: docs, lint

ci: update main dependencies (#293)
  .tool-versions
  go.mod
  go.sum
  internal/provider/converters_model_to_api.go
  internal/provider/databroker.go
Due: docs, go-mod-tidy, lint

settings: validate JWT identity providers and improve docs
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  example/main.tf
  internal/provider/enums.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/settings_resource_test.go
  internal/provider/settings_schema.go
Due: docs, lint

settings: validate JWT identity providers and improve docs (#295)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  example/main.tf
  internal/provider/enums.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/settings_resource_test.go
  internal/provider/settings_schema.go
Due: docs, lint
