Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

docs:
  name: docs
  language: system
  entry: make docs

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false

ci: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#181)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#182)
  go.mod
  go.sum
Due: go-mod-tidy

terraform: add support for blob_storage, session_recording_enabled, mcp_allowed_as_metadata_domains, mcp_allowed_client_id_domains
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/models.go
  internal/provider/models_objects.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

terraform: add support for blob_storage, session_recording_enabled, mcp_allowed_as_metadata_domains, mcp_allowed_client_id_domains (#183)
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/models.go
  internal/provider/models_objects.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

terraform/routes: add upstream tunnel settings
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/models.go
  internal/provider/models_objects.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
Due: docs, go-mod-tidy, lint

use policy ids
  docs/resources/route.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/route_resource.go
Due: docs, go-mod-tidy, lint

terraform/routes: add upstream tunnel settings (#185)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/models.go
  internal/provider/models_objects.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
Due: docs, go-mod-tidy, lint

ci: update dependencies (#184)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

terraform/settings: add namespace id
  docs/resources/settings.md
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/models.go
  internal/provider/settings_schema.go
Due: docs, lint

fix test
  internal/provider/settings_resource_test.go
Due: docs, lint

terraform/settings: add namespace id (#187)
  docs/resources/settings.md
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/models.go
  internal/provider/settings_resource_test.go
  internal/provider/settings_schema.go
Due: docs, lint

fix(routes): resolve post-apply state inconsistency for health_checks and boolean fields
  internal/provider/converters.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_test.go
  internal/provider/route_resource.go
Due: docs, lint

ci: update dependencies (#186)
  go.mod
  go.sum
Due: go-mod-tidy

terraform/routes: fix health checks
  internal/provider/converters_api_to_model.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_test.go
  internal/provider/models_objects.go
  internal/provider/route_resource.go
  internal/provider/route_resource_test.go
  internal/provider/schemas.go
Due: docs, lint

terraform/routes: fix health checks (#189)
  internal/provider/converters_api_to_model.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_test.go
  internal/provider/models_objects.go
  internal/provider/route_resource.go
  internal/provider/route_resource_test.go
  internal/provider/schemas.go
Due: docs, lint

terraform/resources: pass cluster id for consolidated api
  internal/provider/converters.go
  internal/provider/converters_model_to_api.go
  internal/provider/helpers.go
  internal/provider/key_pair_resource.go
  internal/provider/policy_resource.go
  internal/provider/route_resource.go
  internal/provider/service_account_resource.go
  internal/provider/settings_resource.go
Due: docs, lint

terraform/resources: pass cluster id for consolidated api (#191)
  internal/provider/converters.go
  internal/provider/converters_model_to_api.go
  internal/provider/helpers.go
  internal/provider/key_pair_resource.go
  internal/provider/policy_resource.go
  internal/provider/route_resource.go
  internal/provider/service_account_resource.go
  internal/provider/settings_resource.go
Due: docs, lint

terraform/settings: add databroker_storage_connection_string
  docs/resources/settings.md
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/models.go
  internal/provider/settings_schema.go
Due: docs, lint

terraform/routes: fix inconsistent state of the enable_google_cloud_serverless_authentication option
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/route_resource.go
Due: docs, lint

terraform/routes: fix inconsistent state of the enable_google_cloud_serverless_authentication option (#193)
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/route_resource.go
Due: docs, lint

ci: update dependencies (#190)
  go.mod
  go.sum
Due: go-mod-tidy

add auto_apply_changesets
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/models.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

terraform/settings: add auto_apply_changesets (#194)
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/models.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

terraform/resources: support updating existing resources by name
  internal/provider/key_pair_resource.go
  internal/provider/policy_resource.go
  internal/provider/resources.go
  internal/provider/route_resource.go
Due: docs, lint

ci: update dependencies (#195)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

terraform/settings: add mcp_allowed_as_metadata_domains and mcp_allowed_client_id_domains
  go.mod
  go.sum
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
Due: docs, go-mod-tidy, lint

terraform/routes: add mcp settings
  docs/resources/route.md
  internal/provider/converters.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/models.go
  internal/provider/models_objects.go
  internal/provider/route_resource.go
  internal/provider/schemas.go
Due: docs, lint

terraform/routes: add field validators
  internal/provider/route_resource.go
Due: docs, lint

terraform/settings: add databroker_storage_connection_string (#192)
  docs/resources/settings.md
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/models.go
  internal/provider/settings_schema.go
Due: docs, lint

ci: update dependencies (#197)
  go.mod
  go.sum
Due: go-mod-tidy

terraform/routes: add field validators (#199)
  internal/provider/route_resource.go
Due: docs, lint

Path conditions:
  docs: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum$
  lint: any of: \.go$
