Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs
        name: docs
        language: system
        entry: make docs
        types: ["go"]
      - id: go-mod-tidy
        name: go-mod-tidy
        language: system
        entry: bash -c 'go mod tidy'
        files: go\.mod|go\.sum$
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false

ci: update dependencies (#242)
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.gen.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_api.gen.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/enums.gen.go
  internal/provider/key_pair_resource.go
  internal/provider/models.go
  internal/provider/policy_resource.go
  internal/provider/route_resource.go
  internal/provider/service_account_resource.go
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

update script
  go.mod
  go.sum
  scripts/update-dependencies
Due: go-mod-tidy

terraform: update sdk (#241)
  go.mod
  go.sum
  internal/generate/enums.go
  internal/provider/client.go
  internal/provider/converters_api_to_model.gen.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.gen.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/databroker.go
  internal/provider/key_pair_resource.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/provider_test.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/settings_resource.go
  scripts/update-dependencies
Due: docs, go-mod-tidy, lint

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#243)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#245)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#246)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#247)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#248)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#249)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#250)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#251)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#252)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#253)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#254)
  go.mod
  go.sum
Due: go-mod-tidy

add sane default for RemoveFromAnyAssignedRoutes in policy model
  internal/provider/policy_resource.go
Due: docs, lint

ci: update dependencies (#257)
  go.mod
  go.sum
  internal/provider/policy_resource.go
Due: docs, go-mod-tidy, lint

ci: update Go toolchain to 1.26.5
  .tool-versions
Due: none

ci: update dependencies (#258)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update Go toolchain to 1.26.5 (#260)
  .tool-versions
Due: none

ci: update latest release branch
  .github/workflows/update-branch-dependencies.yaml
  .github/workflows/update-dependencies.yaml
Due: none

ci: update latest release branch (#262)
  .github/workflows/update-branch-dependencies.yaml
  .github/workflows/update-dependencies.yaml
Due: none

fix job
  .github/workflows/update-branch-dependencies.yaml
Due: none

fix
  internal/provider/policy_resource.go
Due: docs, lint
