Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

docs:
  name: docs
  language: system
  entry: make docs

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false

ci: update dependencies (#219)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

wip
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, lint

ci: update dependencies (#221)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#223)
  go.mod
  go.sum
Due: go-mod-tidy

terraform: use asdf to manage terraform
  .github/workflows/reusable-build.yaml
  .tool-versions
  scripts/update-dependencies
Due: none

try setup-terraform
  .github/workflows/reusable-build.yaml
  .tool-versions
  scripts/update-dependencies
Due: none

terraform/settings: update legacy converter (#220)
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/settings_resource.go
Due: docs, lint

terraform/ci: setup terraform (#225)
  .github/workflows/reusable-build.yaml
Due: none

terraform/settings: set zero defaults (#222)
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, lint

terraform/settings: preserve blob_storage.managed_prefix on enterprise read
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
Due: docs, lint

fix: remove blob storage settings managed prefix from terraform provider API
  docs/resources/settings.md
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/models_objects.go
  internal/provider/settings_schema.go
Due: docs, lint

fix: remove blob storage settings managed prefix from terraform provider API (#227)
  docs/resources/settings.md
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/models_objects.go
  internal/provider/settings_schema.go
Due: docs, lint

ci: update dependencies (#224)
  go.mod
  go.sum
Due: go-mod-tidy

feat: configure session recording datasources
  go.mod
  go.sum
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/models.go
  internal/provider/models_objects.go
  internal/provider/provider.go
  internal/provider/recording_datasource_resource.go
  internal/provider/recording_datasource_source.go
Due: docs, go-mod-tidy, lint

remove unused RecordingDatasource object model
  internal/provider/models_objects.go
Due: docs, lint

feat: configure session recording datasources (#228)
  go.mod
  go.sum
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/models.go
  internal/provider/provider.go
  internal/provider/recording_datasource_resource.go
  internal/provider/recording_datasource_source.go
Due: docs, go-mod-tidy, lint

ci: update dependencies
  docs/data-sources/recording_data_source.md
  docs/resources/recording_data_source.md
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#229)
  docs/data-sources/recording_data_source.md
  docs/resources/recording_data_source.md
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#232)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#234)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#235)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#236)
  go.mod
  go.sum
Due: go-mod-tidy

feat: add remaining session recording opts
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/models.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/schemas.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

feat(session_recording) : add remaining opts (#238)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/models.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/schemas.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

ci: update dependencies (#237)
  go.mod
  go.sum
Due: go-mod-tidy

fix(recording) : nil dereference in enterprise converter
  internal/provider/converters_enterprise_to_model.go
Due: docs, lint

fix(recording) : nil dereference in enterprise converter (#240)
  internal/provider/converters_enterprise_to_model.go
Due: docs, lint

terraform: update sdk
  go.mod
  go.sum
  internal/generate/enums.go
  internal/provider/client.go
  internal/provider/converters_api_to_model.gen.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.gen.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/databroker.go
  internal/provider/key_pair_resource.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/provider_test.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/settings_resource.go
Due: docs, go-mod-tidy, lint

ci: update dependencies (#239)
  go.mod
  go.sum
Due: go-mod-tidy

update
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.gen.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_api.gen.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/enums.gen.go
  internal/provider/key_pair_resource.go
  internal/provider/models.go
  internal/provider/policy_resource.go
  internal/provider/route_resource.go
  internal/provider/service_account_resource.go
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

Path conditions:
  docs: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum$
  lint: any of: \.go$
