Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

docs:
  name: docs
  language: system
  entry: make docs

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false

ci: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

policy support
  internal/provider/client.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/policy_resource.go
Due: docs, lint

policy support
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/policy_resource.go
Due: docs, lint

policies data source
  internal/provider/converters.go
  internal/provider/converters_model_to_api.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
Due: docs, lint

update key pairs
  internal/provider/converters.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/key_pair_resource.go
Due: docs, lint

service accounts
  go.mod
  go.sum
  internal/provider/converters_api_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_accounts_data_source.go
Due: docs, go-mod-tidy, lint

ci: update dependencies (#163)
  go.mod
  go.sum
Due: go-mod-tidy

update settings
  internal/generate/enums.go
  internal/provider/converters.go
  internal/provider/converters_api_to_model.gen.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_api.gen.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, lint

route support
  internal/provider/converters_api_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/route_resource.go
Due: docs, lint

use jennifer
  go.mod
  go.sum
  internal/generate/enums.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_model_to_enterprise.gen.go
Due: docs, go-mod-tidy, lint

fix oauth2 handling
  internal/generate/enums.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_model_to_enterprise.gen.go
Due: docs, lint

generate enum values list
  docs/resources/route.md
  internal/generate/enums.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/enum.go
  internal/provider/enum_optional.go
  internal/provider/enum_optional_test.go
  internal/provider/enum_test.go
  internal/provider/enums.gen.go
  internal/provider/enums.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/settings_schema.go
Due: docs, lint

implement routes data source, handle not found
  internal/provider/converters_model_to_api.go
  internal/provider/key_pair_resource.go
  internal/provider/policy_resource.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/settings_resource.go
Due: docs, lint

key pair tests
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api_test.go
Due: docs, lint

more tests
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api_test.go
Due: docs, lint

update test
  internal/provider/converters_test.go
Due: docs, lint

ci: update dependencies (#165)
  go.mod
  go.sum
Due: go-mod-tidy

remove pka_unknown_do_not_use
  internal/generate/enums.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/converters_test.go
  internal/provider/enums.gen.go
Due: docs, lint

teraform: generate enum conversion code (#162)
  Makefile
  docs/resources/route.md
  go.mod
  go.sum
  internal/generate/enums.go
  internal/generate/generate.go
  internal/provider/converters.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
  internal/provider/enum.go
  internal/provider/enum_optional.go
  internal/provider/enum_optional_test.go
  internal/provider/enum_test.go
  internal/provider/enums.gen.go
  internal/provider/enums.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

ci: upgrade to Go 1.26.0
  .tool-versions
  go.mod
Due: go-mod-tidy

ci: update update-dependencies script to Go 1.26
  scripts/update-dependencies
Due: none

wip
  go.mod
  go.sum
  internal/provider/client.go
  internal/provider/clusters_data_source.go
  internal/provider/external_data_source_data_source.go
  internal/provider/namespace_data_source.go
  internal/provider/namespaces_data_source.go
  internal/provider/provider.go
  internal/provider/settings_resource.go
Due: docs, go-mod-tidy, lint

ci: upgrade to Go 1.26.0 (#166)
  .tool-versions
  go.mod
  scripts/update-dependencies
Due: go-mod-tidy

wip
  .github/workflows/reusable-build.yaml
  Makefile
  go.mod
  go.sum
  internal/provider/cluster_resource_test.go
  internal/provider/key_pair_resource_test.go
  internal/provider/namespace_resource_test.go
  internal/provider/provider_test.go
  internal/provider/route_resource_test.go
  internal/provider/service_account_resource_test.go
  internal/provider/settings_resource_test.go
Due: docs, go-mod-tidy, lint

terraform: support consolidated API for the enterprise console (#164)
  go.mod
  go.sum
  internal/generate/enums.go
  internal/provider/client.go
  internal/provider/converters.go
  internal/provider/converters_api_to_model.gen.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.gen.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
  internal/provider/key_pair_resource.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_accounts_data_source.go
  internal/provider/settings_resource.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

terraform: use new
  internal/provider/converters.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/converters_test.go
  internal/provider/helpers_test.go
Due: docs, lint

terraform: use new (#168)
  internal/provider/converters.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/converters_test.go
  internal/provider/helpers_test.go
Due: docs, lint

ci: update dependencies (#167)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#169)
  go.mod
  go.sum
Due: go-mod-tidy

wip
  .github/workflows/reusable-build.yaml
  Makefile
  go.mod
  go.sum
  internal/generate/enums.go
  internal/provider/client.go
  internal/provider/cluster_resource_test.go
  internal/provider/clusters_data_source.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/converters_test.go
  internal/provider/enums.gen.go
  internal/provider/external_data_source_data_source.go
  internal/provider/key_pair_resource_test.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_resource_test.go
  internal/provider/namespaces_data_source.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/route_resource_test.go
  internal/provider/service_account_resource_test.go
  internal/provider/settings_resource_test.go
Due: docs, go-mod-tidy, lint

terraform: add core support
  docs/resources/key_pair.md
  docs/resources/policy.md
  docs/resources/route.md
  docs/resources/service_account.md
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource_test.go
  internal/provider/key_pair_resource.go
  internal/provider/key_pair_resource_test.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_resource.go
  internal/provider/namespaces_data_source.go
  internal/provider/policy_resource.go
  internal/provider/policy_resource_test.go
  internal/provider/route_resource.go
  internal/provider/route_resource_test.go
  internal/provider/service_account_resource.go
  internal/provider/service_account_resource_test.go
Due: docs, lint

fix mistakenly reverted changes
  internal/generate/enums.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/converters_test.go
  internal/provider/enums.gen.go
Due: docs, lint

fix whitespace, add namespace permission resource test
  internal/provider/cluster_resource_test.go
  internal/provider/key_pair_resource_test.go
  internal/provider/namespace_permission_resource.go
  internal/provider/namespace_permission_resource_test.go
  internal/provider/namespace_resource_test.go
  internal/provider/policy_resource_test.go
  internal/provider/route_resource_test.go
  internal/provider/service_account_resource_test.go
  internal/provider/settings_resource_test.go
Due: docs, lint

use latest go-sdk
  go.mod
  go.sum
Due: go-mod-tidy

setup core client
  docs/data-sources/cluster.md
  docs/data-sources/clusters.md
  docs/data-sources/external_data_source.md
  docs/data-sources/namespace.md
  docs/data-sources/namespaces.md
  docs/data-sources/policies.md
  docs/data-sources/policy.md
  go.mod
  go.sum
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_permission_resource.go
  internal/provider/namespace_resource.go
  internal/provider/namespaces_data_source.go
Due: docs, go-mod-tidy, lint

use sync once values
  docs/data-sources/cluster.md
  docs/data-sources/clusters.md
  docs/data-sources/external_data_source.md
  docs/data-sources/namespace.md
  docs/data-sources/namespaces.md
  docs/data-sources/policies.md
  docs/data-sources/policy.md
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource.go
  internal/provider/key_pair_resource.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_permission_resource.go
  internal/provider/namespace_resource.go
  internal/provider/namespaces_data_source.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_accounts_data_source.go
  internal/provider/settings_resource.go
Due: docs, lint

allow clusters
  internal/provider/clusters_data_source.go
Due: docs, lint

Path conditions:
  docs: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum$
  lint: any of: \.go$
