Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs
        name: docs
        language: system
        entry: make docs
        types: ["go"]
      - id: go-mod-tidy
        name: go-mod-tidy
        language: system
        entry: bash -c 'go mod tidy'
        files: go\.mod|go\.sum$
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false

ci: update dependencies (#261)
  .github/workflows/update-branch-dependencies.yaml
  go.mod
  go.sum
  internal/provider/policy_resource.go
Due: docs, go-mod-tidy, lint

ci: update dependencies
  .tool-versions
Due: none

ci: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

ci: update 0-32-0 dependencies (#263)
  .tool-versions
Due: none

ci: update main dependencies (#264)
  go.mod
  go.sum
Due: go-mod-tidy

chore: bump pomerium/pomerium & pomerium/enterprise-client-go to v0.33.0
  go.mod
  go.sum
Due: go-mod-tidy

chore: fix lint
  internal/provider/policy_resource.go
Due: docs, lint

chore: bump pomerium/pomerium & pomerium/enterprise-client-go to v0.33.0 (#265)
  go.mod
  go.sum
  internal/provider/policy_resource.go
Due: docs, go-mod-tidy, lint

fix: cast math.MaxUint32 to int64
  internal/provider/converters.go
Due: docs, lint

fix: cast math.MaxUint32 to int64 (#266)
  internal/provider/converters.go
Due: docs, lint

[0.33.0] backport:fix cast math.MaxUint32 to int64 (#266) (#267)
  internal/provider/converters.go
Due: docs, lint

ci: update main dependencies (#268)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update main dependencies (#269)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update main dependencies (#270)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update main dependencies (#271)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update main dependencies (#272)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update main dependencies (#273)
  go.mod
  go.sum
Due: go-mod-tidy

ci: stop dependabot from bumping pomerium modules
  .github/dependabot.yaml
Due: none

ci: stop dependabot from bumping pomerium modules (#278)
  .github/dependabot.yaml
Due: none

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
  internal/provider/converters_api_to_model.gen.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_model_to_api.gen.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/enums.gen.go
Due: docs, go-mod-tidy, lint

ci: update 0-33-0 dependencies (#280)
  .tool-versions
Due: none

add new fields
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/converters_test.go
  internal/provider/models.go
  internal/provider/models_objects.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/route_resource_test.go
  internal/provider/settings_resource_test.go
  internal/provider/settings_schema.go
Due: docs, lint

ci: update main dependencies (#274)
  .tool-versions
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters_api_to_model.gen.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.gen.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_api.gen.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.gen.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/converters_test.go
  internal/provider/enums.gen.go
  internal/provider/models.go
  internal/provider/models_objects.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/route_resource_test.go
  internal/provider/settings_resource_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

ci: update 0-33-0 dependencies (#283)
  .tool-versions
Due: none

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

lint
  .golangci.yml
  internal/provider/bootstrap_service_account_test.go
  internal/provider/policy_types_test.go
  internal/provider/recording_datasource_resource.go
  internal/provider/recording_datasource_source.go
Due: docs, lint

ci: update main dependencies (#282)
  .golangci.yml
  .tool-versions
  go.mod
  go.sum
  internal/provider/bootstrap_service_account.go
  internal/provider/bootstrap_service_account_test.go
  internal/provider/converters.go
  internal/provider/policy_types_test.go
  internal/provider/recording_datasource_resource.go
  internal/provider/recording_datasource_source.go
Due: docs, go-mod-tidy, lint
