Repository pomerium/terraform-provider-pomerium: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs, go-mod-tidy, lint

docs:
  name: docs
  language: system
  entry: make docs

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false

terraform/settings: add mcp_allowed_as_metadata_domains and mcp_allowed_client_id_domains (#196)
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
Due: docs, lint

ci: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

add additional validation for mcp.client and mcp.server, add tests
  internal/provider/route_resource_test.go
  internal/provider/schemas.go
Due: docs, lint

terraform/cluster: fix unknown fields
  internal/provider/cluster_resource.go
Due: docs, lint

terraform/routes: add mcp settings (#198)
  docs/resources/route.md
  internal/provider/converters.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_api_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/models.go
  internal/provider/models_objects.go
  internal/provider/route_resource.go
  internal/provider/route_resource_test.go
  internal/provider/schemas.go
Due: docs, lint

ci: update dependencies (#200)
  go.mod
  go.sum
Due: go-mod-tidy

terraform/service-accounts: fix user_id/name fields
  docs/resources/service_account.md
  internal/provider/converters_model_to_api.go
  internal/provider/namespace_resource.go
  internal/provider/service_account_resource.go
Due: docs, lint

terraform/policy: update duplicate named policies
  internal/provider/policy_resource.go
  internal/provider/resource.go
Due: docs, lint

terraform/policy: update duplicate named policies (#208)
  internal/provider/policy_resource.go
  internal/provider/resource.go
Due: docs, lint

fix test
  internal/provider/service_account_resource_test.go
Due: docs, lint

terraform/service-accounts: fix user_id/name fields (#205)
  docs/resources/service_account.md
  internal/provider/converters_model_to_api.go
  internal/provider/namespace_resource.go
  internal/provider/service_account_resource.go
  internal/provider/service_account_resource_test.go
Due: docs, lint

ci: update dependencies (#202)
  go.mod
  go.sum
Due: go-mod-tidy

terraform/cluster: fix unknown fields (#201)
  internal/provider/cluster_resource.go
Due: docs, lint

ci: update dependencies (#209)
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

ci: update dependencies (#210)
  .tool-versions
  go.mod
  go.sum
Due: go-mod-tidy

terraform/routes: fix route data source missing mcp
  docs/data-sources/route.md
  docs/data-sources/routes.md
  internal/provider/external_data_source_resource_test.go
  internal/provider/route_data_source.go
  internal/provider/route_resource_test.go
  internal/provider/schemas_test.go
  internal/provider/service_account_resource_test.go
Due: docs, lint

terraform/routes: fix route data source missing mcp (#211)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  internal/provider/external_data_source_resource_test.go
  internal/provider/route_data_source.go
  internal/provider/route_resource_test.go
  internal/provider/schemas_test.go
  internal/provider/service_account_resource_test.go
Due: docs, lint

terraform/service-account: update legacy converter
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
Due: docs, lint

ci: update dependencies (#213)
  go.mod
  go.sum
Due: go-mod-tidy

terraform/service-account: update legacy converter (#212)
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
Due: docs, lint

terraform/config: add missing legacy fields, use exaustruct linter
  .golangci.yml
  internal/provider/bootstrap_service_account.go
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource.go
  internal/provider/key_pair_resource.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_permission_resource.go
  internal/provider/namespace_resource.go
  internal/provider/namespaces_data_source.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/provider.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_accounts_data_source.go
  internal/provider/settings_resource.go
  main.go
Due: docs, lint

ci: update dependencies (#215)
  go.mod
  go.sum
Due: go-mod-tidy

add test for user_id
  internal/provider/service_account_resource_test.go
Due: docs, lint

add test for enterprise->model service account conversion
  internal/provider/converters_enterprise_to_model_test.go
Due: docs, lint

terraform/config: add missing legacy fields, use exaustruct linter (#214)
  .golangci.yml
  internal/provider/bootstrap_service_account.go
  internal/provider/client.go
  internal/provider/cluster_data_source.go
  internal/provider/cluster_resource.go
  internal/provider/clusters_data_source.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/external_data_source_data_source.go
  internal/provider/external_data_source_resource.go
  internal/provider/key_pair_resource.go
  internal/provider/namespace_data_source.go
  internal/provider/namespace_permission_resource.go
  internal/provider/namespace_resource.go
  internal/provider/namespaces_data_source.go
  internal/provider/policies_data_source.go
  internal/provider/policy_data_source.go
  internal/provider/policy_resource.go
  internal/provider/provider.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/routes_data_source.go
  internal/provider/service_account_data_source.go
  internal/provider/service_account_resource.go
  internal/provider/service_account_resource_test.go
  internal/provider/service_accounts_data_source.go
  internal/provider/settings_resource.go
  main.go
Due: docs, lint

ci: update dependencies (#216)
  go.mod
  go.sum
Due: go-mod-tidy

terraform/config: add allow_upgrades
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
  internal/provider/models.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/route_resource_test.go
  internal/provider/settings_resource_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

fix tests
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_test.go
Due: docs, lint

terraform/config: add allow_upgrades (#217)
  docs/data-sources/route.md
  docs/data-sources/routes.md
  docs/resources/route.md
  docs/resources/settings.md
  go.mod
  go.sum
  internal/provider/converters.go
  internal/provider/converters_api_to_model.go
  internal/provider/converters_api_to_model_test.go
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_model_to_api.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_test.go
  internal/provider/models.go
  internal/provider/route_data_source.go
  internal/provider/route_resource.go
  internal/provider/route_resource_test.go
  internal/provider/settings_resource_test.go
  internal/provider/settings_schema.go
Due: docs, go-mod-tidy, lint

ci: update dependencies (#218)
  go.mod
  go.sum
Due: go-mod-tidy

terraform/settings: update legacy converter
  internal/provider/converters_enterprise_to_model.go
  internal/provider/converters_enterprise_to_model_test.go
  internal/provider/converters_model_to_enterprise.go
  internal/provider/converters_model_to_enterprise_test.go
  internal/provider/settings_resource.go
Due: docs, lint

Path conditions:
  docs: any of: \.go$
  go-mod-tidy: any of: go\.mod|go\.sum$
  lint: any of: \.go$
